# Automated Nginx + SSL Setup using environment variables
# See .env.example for configuration options
services:
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/configs/nginx.conf:ro
      - ./nginx_initial.conf:/etc/nginx/configs/nginx_initial.conf:ro
      - ./nginx-entrypoint.sh:/nginx-entrypoint.sh:ro
      - letsencrypt-webroot:/var/www/letsencrypt
      - letsencrypt-certs:/etc/letsencrypt
      - ${WEBSITE_PATH:-/home/ubuntu/fortune-telling-website}:/usr/share/nginx/html:ro
    networks:
      - frontend_network
      - backend_network
    environment:
      - DOMAIN=${DOMAIN}
    entrypoint: /nginx-entrypoint.sh

  certbot:
    image: certbot/certbot
    container_name: certbot
    restart: unless-stopped
    volumes:
      - letsencrypt-webroot:/var/www/letsencrypt
      - letsencrypt-certs:/etc/letsencrypt
      - ./certbot-entrypoint.sh:/certbot-entrypoint.sh
      - ./reload-nginx.sh:/reload-nginx.sh
      - /var/run/docker.sock:/var/run/docker.sock:ro
    entrypoint: /certbot-entrypoint.sh
    networks:
      - frontend_network
    environment:
      - DOMAIN=${DOMAIN}
      - EMAIL=${EMAIL}

networks:
  frontend_network:
    external: true
  backend_network:
    external: true

volumes:
  letsencrypt-webroot:
  letsencrypt-certs:

# ## Local Docker Compose File for Development (doesn't work)
# services:
#   nginx:
#     image: nginx:latest
#     container_name: nginx
#     restart: always
#     ports:
#       - "80:80"
#     volumes:
#       - ./nginx.local.conf:/etc/nginx/nginx.conf:ro
#       - D:\OtherCodingProjects\fortune-telling-website\dist:/usr/share/nginx/html:ro
#     networks:
#       # - frontend_network
#       - backend_network
# networks:
#   backend_network:
#     external: true